@model Game
@{
    ViewBag.Title = "Add";
}
<style>
    #thumbnailPreview {
        display: none;
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .btn {
        color: black;
        border-color: black;
    }

    .platform-checkbox {
        display: flex;
        align-items: center;
    }

    .platform-label {
        width: 100%; /* Adjust width as needed */
    }

    .pricing-checkbox {
        display: flex;
        align-items: center;
    }

    .pricing-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .pricing-label span {
            flex-grow: 1;
            margin-left: 10px;
        }

    .input-group {
        width: 150px;
    }

    .input-group-text {
        width: 5px;
    }

    .pricing-microsoft {
        border-color: #00A2ED;
    }

    .pricing-playstation {
        border-color: black;
    }

    .pricing-xbox {
        border-color: #0E7A0D;
    }

    .pricing-nintendo-switch {
        border-color: #FE0016;
    }

    .btn-check:checked + .platform-microsoft {
        background-color: white; /* Microsoft blue */
        color: #00A2ED;
        border-color: #00A2ED;
    }

    .btn-check:checked + .platform-playstation {
        background-color: #003087; /* PlayStation blue */
        color: white;
    }

    .btn-check:checked + .platform-xbox {
        background-color: white; /* Xbox green */
        color: #0E7A0D;
        border-color: #0E7A0D;
    }

    .btn-check:checked + .platform-nintendo-switch {
        background-color: white; /* Nintendo red */
        color: #FE0016;
        border-color: #FE0016;
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>
<body>
    <div class="container mt-5 border rounded">
        <div class="row">
            <div class="col-8">
                <h2>Add New Game</h2>
            </div>
            <div class="col-4 border">
                <div class="row ">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="col-5 ">
                <!-- Thumbnail -->
                <div class="row">
                    <h5 class="text-center mt-2">Thumbnail</h5>
                    <div class="container mb-3 pt-2 pb-2 border">
                        <div class="d-flex justify-content-center">
                            <i class="bi bi-image upload-icon" style="font-size: 8rem; cursor: pointer;"></i>
                            <input type="file" id="fileInput" class="d-none" accept="image/*">
                        </div>
                        <div class="d-flex justify-content-center">
                            <img id="selectedImage" src="" alt="" style="display: none; width: 25%; border-radius: 10px; cursor: pointer;">
                        </div>
                    </div>
                </div>
                <!-- Game Info -->
                <div class="row">
                    <form>
                        <div class="mb-3">
                            <label for="rating" class="form-label"><h5>Rating</h5></label>
                            <input type="number" class="form-control" id="rating" min="0" max="100" required>
                        </div>
                        <div class="mb-3">
                            <label for="releaseDate" class="form-label"><h5>Release Date</h5></label>
                            <input type="text" class="form-control" id="releaseDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="developer" class="form-label"><h5>Developer</h5></label>
                            <input type="text" class="form-control" id="developer" required>
                        </div>
                        <div class="mb-3">
                            <label for="publisher" class="form-label"><h5>Publisher</h5></label>
                            <input type="text" class="form-control" id="publisher" required>
                        </div>
                        <div class="mb-3">
                            <label for="genre" class="form-label"><h5>Genre</h5></label>
                            <select class="form-select" id="genre" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="Action">Action</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Role-Playing">Role-Playing</option>
                                <option value="Simulation">Simulation</option>
                                <option value="Strategy">Strategy</option>
                                <option value="Sports">Sports</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-7">
                <!-- Game Title And Description -->
                <div class="row">
                    <form>
                        <div class="container mb-3">
                            <label for="titleGame" class="form-label"><h5>Game Title</h5></label>
                            <input type="text" class="form-control" id="titleGame" required>
                        </div>
                        <div class="container mb-3">
                            <label for="description" class="form-label"><h5>Description</h5></label>
                            <textarea class="form-control" id="description" rows="5" required></textarea>
                        </div>
                    </form>
                </div>
                <!-- Platform  -->
                <div class="row">
                    <div class="container">
                        <div class="container mb-3">
                            <h5>Platform</h5>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col platform-checkbox">
                                    <input type="checkbox" class="btn-check" id="btncheck-microsoft" autocomplete="off">
                                    <label class="btn text-start btn-outline-primary platform-label platform-microsoft" for="btncheck-microsoft">
                                        <i class="bi bi-microsoft me-2"></i>Microsoft Windows
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col platform-checkbox">
                                    <input type="checkbox" class="btn-check" id="btncheck-playstation" autocomplete="off">
                                    <label class="btn text-start btn-outline-primary platform-label platform-playstation" for="btncheck-playstation">
                                        <i class="bi bi-playstation me-2"></i>Playstation 5
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col platform-checkbox">
                                    <input type="checkbox" class="btn-check" id="btncheck-xbox" autocomplete="off">
                                    <label class="btn text-start btn-outline-primary platform-label platform-xbox" for="btncheck-xbox">
                                        <i class="bi bi-xbox me-2"></i>Xbox Series X|S
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col platform-checkbox">
                                    <input type="checkbox" class="btn-check" id="btncheck-nintendo-switch" autocomplete="off">
                                    <label class="btn text-start btn-outline-primary platform-label platform-nintendo-switch" for="btncheck-nintendo-switch">
                                        <i class="bi bi-nintendo-switch me-2"></i>Nintendo Switch
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Pricing -->
                <div class="row">
                    <div class="container">
                        <div class="container">
                            <h5 class="mb-3">Pricing</h5>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col pricing-checkbox">
                                    <label class="pricing-label pricing-microsoft">
                                        <i class="bi bi-microsoft"></i>
                                        <span>Microsoft Windows</span>
                                        <div class="input-group">
                                            <span class="input-group-text">S$</span>
                                            <input type="number" class="form-control">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col pricing-checkbox">
                                    <label class="pricing-label pricing-playstation">
                                        <i class="bi bi-playstation"></i>
                                        <span>Playstation 5</span>
                                        <div class="input-group">
                                            <span class="input-group-text">S$</span>
                                            <input type="number" class="form-control">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col pricing-checkbox">
                                    <label class="pricing-label pricing-xbox">
                                        <i class="bi bi-xbox"></i>
                                        <span>Xbox Series X|S</span>
                                        <div class="input-group">
                                            <span class="input-group-text">S$</span>
                                            <input type="number" class="form-control">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row mb-3">
                                <div class="col pricing-checkbox">
                                    <label class="pricing-label pricing-nintendo-switch">
                                        <i class="bi bi-nintendo-switch"></i>
                                        <span>Nintendo Switch</span>
                                        <div class="input-group">
                                            <span class="input-group-text">S$</span>
                                            <input type="number" class="form-control">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        document.querySelector('.upload-icon').addEventListener('click', function() {
            document.querySelector('#fileInput').click();
        });

        document.querySelector('#fileInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.querySelector('#selectedImage');
                    img.src = e.target.result;
                    img.style.display = 'block';
                    document.querySelector('.upload-icon').style.display = 'none';
                };
                reader.readAsDataURL(file);
            }
        });

        document.querySelector('#selectedImage').addEventListener('click', function() {
            document.querySelector('#fileInput').click();
        });
    </script>
</body>